<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
      <add name="HyundaiEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5011.Smarterasp.net;initial catalog=DB_9B2D14_hyundaitest;user id=DB_9B2D14_hyundaitest_admin;password=guseoxorqo;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>